@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  font-family: 'Montserrat', sans-serif;
}
.section-3 {
  margin-top: 20px ;
  align-items: center;
  background-color: rgb(234,232,246) ;
  color: #000000;
  margin: 20px;
}

.section-3 .submit-button button{
  margin-bottom: 20px;
  background: transparent;
  border: 1px solid rgb(36,28,75);
  color: rgb(36,28,75);
}

.section-3 .section-header{
  text-align: center;
}

.section-3 .header-div{
  margin-top: 1em;
}

.section-6 #send-button {
  margin: 20px;
  background: transparent;
  border: 1px solid rgb(36,28,75);
  color: rgb(36,28,75);
}